In [2]:

from bs4 import  BeautifulSoup
import json
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3

In [2]:
data = pd.read_csv('./Data/liverpool03_11_23.csv')
data

In [3]:
con = sqlite3.connect("Database/opta_event_data22_23.db")
cur = con.cursor()

,Unnamed: 0,eventId,minute,second,teamId,x,y,expandedMinute,period,type,...,Venue,xThreat,xThreat_gen,playerName,is_open_play,is_progressive,is_pass_into_box,won_possession,is_carry_into_box,progressive_carry
0,0,2.0,0.0,0.0,183,0.0,0.0,0.0,1.0,NaN,...,Home,NaN,NaN,Unknown,True,False,NaN,False,NaN,NaN
1,1,2.0,0.0,0.0,26,0.0,0.0,0.0,1.0,NaN,...,Away,NaN,NaN,Unknown,True,False,NaN,False,NaN,NaN
2,2,3.0,0.0,1.0,26,50.1,49.7,0.0,1.0,NaN,...,Away,-0.004739,0.0,Harvey Elliott,True,False,NaN,False,NaN,NaN
3,3,4.0,0.0,3.0,26,29.6,41.6,0.0,1.0,NaN,...,Away,NaN,NaN,Ibrahima Konaté,True,True,NaN,False,NaN,NaN
4,4,3.0,0.0,6.0,183,35.6,23.8,0.0,1.0,NaN,...,Home,NaN,NaN,Dango Ouattara,True,False,NaN,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1765,1765,11587.0,79.0,NaN,183,94.2,93.9,81.0,2.0,NaN,...,Home,NaN,NaN,Jaidon Anthony,True,False,NaN,False,NaN,NaN
1766,1766,710.0,0.0,0.0,183,0.0,0.0,7.0,NaN,NaN,...,Home,NaN,NaN,Unknown,True,False,NaN,False,NaN,NaN
1767,1767,1053.0,0.0,0.0,26,0.0,0.0,7.0,NaN,NaN,...,Away,NaN,NaN,Unknown,True,False,NaN,False,NaN,NaN
1768,1768,1.0,0.0,0.0,26,0.0,0.0,0.0,NaN,NaN,...,Away,NaN,NaN,Unknown,True,False,NaN,False,NaN,NaN
1769,1769,1.0,0.0,0.0,183,0.0,0.0,0.0,NaN,NaN,...,Home,NaN,NaN,Unknown,True,False,NaN,False,NaN,NaN

In [6]:
# convert the column of lists to a string representation
data['satisfiedEventsTypes'] = data['satisfiedEventsTypes'].apply(str)

# save the dataframe to a table in the database
data.to_sql(name='Matches', con=con , if_exists="append")
con.commit()
con.close()